[Unit]
Description=Potato Discovery Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 /home/ubuntu/software_ws/ezrassor_controller_server/source/ezrassor_controller_server/potato-discovery.py
Restart=always
User=root
WorkingDirectory=/home/ubuntu/software_ws/ezrassor_controller_server/source/ezrassor_controller_server

[Install]
WantedBy=multi-user.target

